.container{
    margin: 0 auto;
    width: 1280px;
    font-family: Arial;
}
/**-------------------header--------------**/
header{
    width: 100%;
    background: #445162;
    padding: 50px;
    box-sizing: border-box;
}
header:after{
    content: "";
    display: block;
    clear: both;
}
.header-text{
    color: #ffffff;
    float: left;
}
.header-text-name{
    font-size: 60px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin: 0;
}
.header-text-list{
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    list-style-type: none;
}
.header-text-list li:before{
    content: '\e808';
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    padding-right: 10px;
}
.header-img{
    float: right;
}
/**------------------about-product--------------**/
.about-product{
    width: 100%;
    background: #fff;
    padding: 50px;
    box-sizing: border-box;
}
.about-product:after{
    content: "";
    display: block;
    clear: both;
}
.about-product-text{
    float: left;
    width: 650px;
}
.about-product-text-name{
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
}
.about-product-text-write{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.about-product-video{
    float: right;
}
/**-------------------pluses-product------------**/
.pluses-product{
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background: #f5f5f5;
}
.pluses-product:after{
    content: "";
    display: block;
    clear: both;
}
.pluses-product-name{
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0;
}
.pluses-product-text{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 530px;
    padding-left: 40px;
    background: url(../img/plus_icon.jpg) no-repeat top left;
}
.pluses-left{
    float: left;
}
.pluses-right{
    float: right;
}
/**-------------------scrinshot--------------**/
.scrinshot{
    width: 100%;
    background: #fff;
    padding: 50px;
    box-sizing: border-box;
}
.scrinshot:after{
    content: "";
    display: block;
    clear: both;
}
.scrinshot-hame{
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}
.screenshots{
    width: 575px;
    margin: 0;
}
.screen-left{
    float: left;
}
.screen-right{
    float: right;
}
.screenshots-img{
    float: left;
    margin-right: 10px;
}
.screenshots-write{
    overflow: hidden;
}
.screenshots-write-name{
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}
.screenshots-write-text{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/**------------------review----------------**/
.review{
    width: 100%;
    background: #f5f5f5;
    padding: 50px;
    box-sizing: border-box;
}
.review:after{
    content: "";
    display: block;
    clear: both;
}
.review-name{
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0;
}
.review-quote{
    width: 590px;
}
.review-left{
    float: left;
}
.review-right{
    overflow: hidden;
}
.quote-img{
    border-radius: 50%;
    float: left;
    margin-top: 16px;
}
.quote-text-dubble{
    overflow: hidden;
}
.quote-text{
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    background: #ececec;
    padding: 16px;
    border: 1px solid #ececec;
    border-radius: 5px;
    position: relative;
}
.quote-text:before{
  content: "";
  display: block;
  border: 15px solid transparent;	
  border-right: 15px solid #ececec;
  position: absolute;
  top: 23px;
  left: -30px;
}
.quote-text-autor{
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    margin-top: 15px;
}
/**-------------------buy--------------**/
.buy{
    width: 100%;
    background: #fff;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.buy:after{
    content: "";
    display: block;
    clear: both;
}
.buy-name{
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.buy-block:nth-child(2),
.buy-block:nth-child(3){
    margin-right: 45px;
}
.buy-block{
    width: 300px;
    background: #425062;
    border-radius: 7px;
    text-align: center;
}
.buy-block-name{
    margin: 0;
    padding: 17px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.buy-block-price{
    margin: 0;
    background: #fff;
    padding: 18px;
    border: 2px solid #425062;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
}
.buy-block-list{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 0;
    margin: 20px;
    list-style-position: inside;
}
.buy-block-button{
    border-radius: 5px;
    border: none;
    outline: none;
    background: #ffffff;
    width: 260px;
    padding: 14px;
    color: #445161;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 20px;
}
.buy-block-button:hover{
    background: #ccc;
}
.buy-block-button:active{
    background: #445162;
    color: #fff;
}
/**-------------------footer----------------**/    
footer{
    width: 100%;
    background: #445162;
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer:after{
    content: "";
    display: block;
    clear: both;
}
.footer-name{
    width: 100%;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.contacts-form{
    width: 500px;
    margin-right: 45px;
}
.contacts-form-input{
    display: block;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 5px;
    margin-bottom: 21px;
}
.contacts-form-text{
    display: block;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ffffff;
    width: 100%;
    height: 170px;
    box-sizing: border-box;
    padding-left: 5px;
    margin-bottom: 21px;
    resize: none;
}
.contacts-form-input:hover,
.contacts-form-text:hover{
    background: #ccc;    
}
.contacts-form-button{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ffffff;
    width: 140px;
    padding: 10px;
    color: #445162;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}
.contacts-form-button:hover{
    background: #ccc;
}
.contacts-form-button:active{
    background: #445162;
    color: #fff;
}
.contacts-text{
    width: 300px;
}
.contacts-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.contacts-list li{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 29px;
}
.contacts-list-skype:before{
    content: '\e802';
    font-family: "fontello";
    font-size: 26px;
    padding-right: 5px;
}
.contacts-list-isq:before{
    content: '\f304';
    font-family: "fontello";
    font-size: 26px;
    padding-right: 5px;
}
.contacts-list-mail:before{
    content: '\e800';
    font-family: "fontello";
    font-size: 26px;
    padding-right: 5px;
}
.contacts-list-phone:before{
    content: '\e801';
    font-family: "fontello";
    font-size: 26px;
    padding-right: 5px;
}

.contacts-icon{
    display: inline-block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 22px;
    color: #445162;
}
.footer-copyright{
    width: 100%;
    background: #f5f5f5;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
    margin: 50px 0 0 0;
}
